<div class="container">
  <div class="row py-2">
    <div class="col-md-4 d-flex align-items-center">
      <div class="">
        <div class="brdr w-25 mb-3"></div>
        <h2>
          Trending <br />
          Actors <br />
          Right now
        </h2>
        <p class="text-muted">Most Familiar by week</p>
        <div class="brdr w-100 mb-3"></div>
      </div>
    </div>
    <div class="col-md-2 cursor-pointer text-center" *ngFor="let person of trendPerson">
      <a [routerLink]="['/details', person.id, person.media_type]">
        <div class="my-2 position-relative">
          <img
            [src]="'https://image.tmdb.org/t/p/w500' + person.profile_path"
            class="w-100"
          />
          <h3 class="h5">{{ person.name }}</h3>
        </div>
      </a>
    </div>
  </div>
</div>
